*{
  margin: 0;
  padding: 0;
}
body{
    font-size: 20px;
    color: white;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
/* main{
  margin: 10rem 0 10rem 0;

} */
span{
  font-weight: bold;
  font-size: 16px;
}
#container{
    display: flex;
    background: linear-gradient(#081c15, #2d6a4f, #52b788);
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

#keywordButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

#keywordButtons button{
    background-color: #52b788;
    color: white;
    width: 5rem;
    height: 4rem;
    box-shadow: 5px 5px 5px #b7e4c7;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
#keywordButtons button:hover{
    transform: scale(1.1);
}

#functions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #52b788;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #52b788;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

#btn-heater{
    border: 1px solid transparent;
    padding: .5rem;
    margin: 1rem;
    width: 8rem;
    box-shadow: 5px 5px 5px #b7e4c7;
    border-radius: 5px;
    color: #2d6a4f;
}
label{
    font-size: 1rem;
}

#scale{
    -webkit-appearance: none;
    background: #b7e4c7;
    outline: none;
    height: .5rem;
}


  
